{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 150],
    "no-console": [0],
    "no-param-reassign": [0],
    "new-cap": [0],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "global-require": 0,
    "indent": ["error", 2],
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "comma-dangle": ["error", {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
    }]
  },
  "plugins": [
    "babel",
    "react"
  ]
}
